<div class="row">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Animal Information</p>
            <footer>{{ animal.name }}</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Origin</h4>
                        <a class="list-group-item-text" href="/locations/{{animal.originId}}">{{ animal.origin.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Owner
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{{ animal.owner.name }}</h4>
                        <a class="list-group-item-text" href="/persons/{{animal.ownerId}}">{{ animal.owner.title }} {{ animal.owner.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>