<div class="row animated fadeIn">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Person Information</p>
            <footer>{{ person.name }}</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Name
                        </h4>
                        <p class="list-group-item-text">
                            {{ person.name }}
                        </p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Title
                        </h4>
                        <p class="list-group-item-text">
                            {{ person.title }}
                        </p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Origin
                        </h4>
                        <a class="list-group-item-text" href="/locations/{{ person.originId }}">
                            {{ person.origin.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bibliography
                    </div>
                    <div class="panel-body">
                        <article>
                            {{ person.bibliography }}
                        </article>
                    </div>
                </div>
            </div>
            <div ng-show="person.relationships.length > 0" class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Relationships
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="relationship in person.relationships" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                {{ relationship.type }}
                            </h4>
                            <a href="/persons/{{ relationship.toWhomId }}" class="list-group-item-text">
                                {{ relationship.toWhom.title }} {{ relationship.toWhom.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="person.pets.length > 0" class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pets
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="pet in person.pets" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ pet.name }}</h4>
                            <a href="/locations/{{ pet.originId }}" class="list-group-item-text">from {{ pet.origin.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="memberships.length > 0" class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Memberships
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="membership in memberships" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="/houses/{{ membership.houseId }}">{{ membership.house.name }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                <a href="/episodes/{{membership.fromEpisodeId}}">
                                    {{ membership.fromEpisode.title }}
                                </a> <small>{{ membership.fromEpisode.season.name }}</small> - <a href="/episodes/{{ membership.toEpisodeId }}">{{ membership.toEpisode.title }}</a> <small>{{ membership.toEpisode.season.name }}</small>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>