<!-- Episode view -->
<div class="row animated fadeIn">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Episode Information</p>
            <footer>{{ episode.title }}</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ episode.title }}</span>
                        Title
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ episode.date }}</span>
                        Release date
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ episode.number }}</span>
                        Episode number
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Season</h4>
                        <a class="list-group-item-text" href="/seasons/{{episode.seasonId}}">{{ episode.season.name }}</a>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Summary</h4>
                        <p class="list-group-item-text">{{ episode.summary }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Locations in {{ episode.title }}
                    </div>
                    <div class="list-group">
                        <a ng-repeat="location in locations" class="list-group-item" href="/locations/{{location.locationId}}">
                            {{ location.name }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Figures found in {{ episode.title }}
                    </div>
                    <div class="list-group">
                        <a ng-repeat="figure in figures" class="list-group-item" href="/figures/{{figure.figureId}}">
                            {{ figure.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>