<div class="row">
    <div class="col-sm-12" ng-show="searchMode" style="padding-bottom: 15px">
        <button class="btn btn-danger pull-right" ng-click="closeSearchMode()">
            <span class="fa fa-window-close-o fa-lg"></span>
        </button>
    </div>
    <div class="col-sm-12">
        <div ng-class="(searchMode) ? 'col-sm-4' : 'col-sm-12'">
            <!-- Panels -->
            <div class="row">
                <div ng-class="(searchMode) ? 'col-sm-12' : 'col-sm-6'">
                    <div class="row">
                        <div class="col-sm-12">
                            <action-panel
                                    title="My Playlists"
                                    elements="playlists"
                                    prefix="playlists"
                                    label-name="New"
                                    placeholder="Playlist name"
                                    button-name="Create"
                                    identifier="playlistId"
                                    display-id="title"
                                    action="createPlaylist(keyword)"
                                    all-action="getAllPlaylists()"
                                    icon="fa fa-list"
                                    icon-action="fa-plus"
                                    search-mode="searchMode"
                            ></action-panel>
                        </div>
                    </div>
                </div>
                <div ng-class="(searchMode) ? 'col-sm-12' : 'col-sm-6'">
                    <div class="row">
                        <div class="col-sm-12">
                            <action-panel
                                    title="Houses"
                                    elements="houses"
                                    prefix="houses"
                                    label-name="Search"
                                    placeholder="search for..."
                                    button-name="Search"
                                    action="searchHouse(keyword)"
                                    all-action="getAllHouses()"
                                    identifier="houseId"
                                    icon="fa fa-home"
                                    icon-action="fa-search"
                                    search-mode="searchMode"
                            ></action-panel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-class="(searchMode) ? 'col-sm-12' : 'col-sm-6'">
                    <div class="row">
                        <div class="col-sm-12">
                            <action-panel
                                    title="Seasons"
                                    elements="seasons"
                                    prefix="seasons"
                                    label-name="Search"
                                    placeholder="search for..."
                                    button-name="Search"
                                    action="searchSeason(keyword)"
                                    all-action="getAllSeasons()"
                                    identifier="seasonId"
                                    icon="fa fa-tags"
                                    icon-action="fa-search"
                                    search-mode="searchMode"
                            ></action-panel>
                        </div>
                    </div>
                </div>
                <div ng-class="(searchMode) ? 'col-sm-12' : 'col-sm-6'">
                    <div class="row">
                        <div class="col-sm-12">
                            <action-panel
                                    title="Figures"
                                    elements="figures"
                                    prefix="figures"
                                    label-name="Search"
                                    placeholder="search for..."
                                    button-name="Search"
                                    action="searchFigure(keyword)"
                                    all-action="getAllFigures()"
                                    identifier="figureId"
                                    icon="fa fa-user-circle"
                                    icon-action="fa-search"
                                    search-mode="searchMode"
                            ></action-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animated" ng-class="(searchMode) ? 'col-sm-8 slideInUp' : 'hidden fadeOut'" ng-show="searchMode">
            <!-- Search results -->
            <search-results elements="searchResults" config="searchConfig">
            </search-results>
        </div>
    </div>
</div>