<div class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">House Name</h4>
                        <p class="list-group-item-text">{{ house.name }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Motto</h4>
                        <p class="list-group-item-text">{{ house.motto }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Wappen</h4>
                        <p class="list-group-item-text">{{ house.wappen }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Seats in</h4>
                        <p class="list-group-item-text">{{ house.castle.name }}</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a class="list-group-item-text" href="/locations/{{ house.castle.location.locationId }}">{{ house.castle.location.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Ruled locations
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="ruled in ruledLocations" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="/locations/{{ruled.locationId}}">{{ ruled.location.name }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                <a href="/episodes/{{ ruled.fromEpisodeId }}">{{ ruled.fromEpisode.title }} <small>({{ ruled.fromEpisode.season.name }})</small></a> - <a href="/episodes/{{ruled.toEpisodeId}}">{{ ruled.toEpisode.title }} <small>({{ ruled.toEpisode.season.name }})</small></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Members
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="member in members" class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="/persons/{{ member.personId }}">{{ member.person.title }} {{ member.person.name }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                {{ member.fromEpisode.title }} <small>{{ member.fromEpisode.season.name }}</small> -
                                {{ member.toEpisode.title }} <small>{{ member.toEpisode.season.name }}</small>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>