<div class="row animated fadeIn">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Location Information</p>
            <footer>{{ location.name }}</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Location Information
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ location.name }}</span>
                        Name
                    </li>
                    <li class="list-group-item">
                        <a class="list-group-item-heading" href="/houses/{{ruledBy.houseId}}">
                            Ruled by: {{ ruledBy.name }}
                        </a>
                        <p class="list-group-item-text">
                            {{ ruledBy.motto }}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Figures origin
                    </div>
                    <div class="list-group">
                        <a ng-repeat="figure in figures" href="/figures/{{figure.figureId}}" class="list-group-item">
                            {{ figure.name }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Episodes
                    </div>
                    <div class="list-group">
                        <a ng-repeat="episode in episodes" href="/episodes/{{episode.episodeId}}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ episode.title }} - {{ episode.season.name }}</h4>
                            <p class="list-group-item-text">{{ episode.summary }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>