<!-- person view -->
<div class="row animated fadeIn">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Person Information</p>
            <footer>PERSON_NAME</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <ul class="list-group">

                </ul>
            </div>
        </div>
    </div>
</div>