<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ playlist.title }}
            </div>
            <div class="panel-body">
                <p>Playlist content for <small>{{ playlist.title }}</small></p>
                <small>{{ playlists.items.length }}</small>
            </div>
            <div class="list-group">
                <a ng-repeat="item in playlist.items" class="list-group-item" href="/episodes/{{item.episodeId}}">
                    <span class="badge">#{{ item.sequence }}</span>
                    <h4 class="list-group-item-heading">{{ item.episode.title }} <small>{{ item.episode.season.name }}</small></h4>
                    <p class="list-group-item-text">{{ item.episode.summary }}</p>
                </a>
            </div>
        </div>
    </div>
</div>