<!-- Season view -->
<div class="row animated fadeIn">
    <div class="col-sm-12">
        <blockquote class="blockquote-reverse">
            <p>Season Information</p>
            <footer>{{ season.name }}</footer>
        </blockquote>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <!-- list the details of the season -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    Season Information
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ season.numberOfEpisodes }}</span>
                        Number of Episodes
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ season.startDate }}</span>
                        Start Date
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <!-- for listing the episodes -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Espisodes in {{ season.name }}
                </div>
                <div class="list-group">
                    <a ng-repeat="episode in season.episodes" class="list-group-item" href="/episodes/{{episode.episodeId}}">
                        <h4 class="list-group-item-heading">{{ episode.title }}</h4>
                        <p class="list-group-item-text">{{ episode.summary }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>