<div class="panel panel-primary">
    <div class="panel-heading">
        {{ title }} <span class="fa {{ iconAction }} pull-right"></span>
    </div>
    <div class="panel-body hidden">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ labelName }}</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="{{ placeholder }}" ng-model="keyword"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-sm btn-primary" ng-click="doAction()" type="button">{{ buttonName }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-info pull-right" ng-click="doAll()">All</button>
            </div>
        </div>
    </div>
    <div class="list-group" ng-show="searchMode == false">
        <a ng-repeat="element in elements" href="/{{prefix}}/{{element[identifier]}}" class="list-group-item">
            <span class="{{ icon }}"></span>
            {{ element[displayId] }}
        </a>
    </div>
</div>