<div class="alert alert-dismissible alert-{{type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ description }}
</div>