<div class="panel panel-info">
    <div class="panel-heading">
        <span class="fa fa-search"></span> {{ config.title }}
    </div>
    <div class="panel-body">
        <p ng-show="(config.keyword != undefined)">Search results for: <mark>{{ config.keyword }}</mark> in {{ config.section }}</p>
        <p ng-show="(config.keyword == undefined)">All items</p>
    </div>
    <div class="list-group">
        <a ng-repeat="element in elements" href="/{{config.prefix}}/{{element[config.identifier]}}" class="list-group-item">
            <span class="fa fa-angle-right" aria-hidden="true"> {{ element[config.displayId] }}
        </a>
    </div>
</div>